<%- model_class = Poll -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div class="main-average">
  <h3><%= poll_average_stars @poll.average  %></h3>
  <p><b><%=  number_with_precision @poll.average.to_f, precision: 1 %></b></p>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:users) %></strong></dt>
  <dd>
    <% @poll.users.each do |user| %>
      <%= gravatar_image_tag(user.email, file_type: :png, alt: user.email, class: 'polls-gravatar-img') %>
    <% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:comments) %></strong></dt>
  <dd>
    <% @poll.comments.each do |comment| %>
      <dt><strong>-</strong></dt>
      <dd><%= comment %></dd>
    <% end %>
  </dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              polls_path, :class => 'btn btn-default'  %>
